<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<html>
<head>
<style>
  table{
    font-family: Times roman;
    border-collapse: collapse;
    width = 50%;
  }

  td,th{
    border: 1px solid #ffdddd;
    text-align: left;
    padding: 15px;
  }

  #to1{
    background-color:;
  }
</style>
</head>
<body>
<center>
<table id="to1">
  <tr>
  <th> 🇮🇳 </th>
  <th> Information </th>
  </tr>
  <tr>
  <td> Created By </td>
  <td> Soham Salkar </td>
  </tr>
  <tr>
  <td> Website </td>
  <td> Password generator </td>
  </tr>
  <tr>
  <td> Description </td>
  <td> This website creates so strong random passwords which you would need to write down somewhere </td>
  </tr>
</table>
<br>
<br>
<a href="{% url 'home' %}" class="btn btn-warning">HOME</a>
<br>
<br>
<a href="{% url 'about' %}" class="btn btn-warning">ABOUT</a>
</center>
</body>
</html>
